<div class="container">
  <div class="row">
    <div class="col-md-6 mt-4">
      <h2 class="text-center"><u>Address</u></h2>
      <h1 class="display-4 text-center text-success">64.5 Km</h1>
      <h3 class="text-center">Away from Khagrachari</h3>
      <p class="text-muted text-center">Royal Sajek Resort,
        Rui Lui Para,
        Sajek, Rangamati -12</p>
      <p>
        Phone: <br>
        &nbsp; &nbsp; &nbsp; &nbsp; <a href="tel:01840477707"> +88 01840477707</a> <br>
        &nbsp; &nbsp; &nbsp; &nbsp; <a href="tel:01840477976">+88 01840477976</a> <br>
        Email : <a href="mailto:hotelswave@gmail.com">hotelswave@gmail.com</a> <br>
        Facebook : <a href="https://www.facebook.com/royalsajekresort/" target="_blank">https://www.facebook.com/royalsajekresort</a>
      </p>
    </div>
    <div class="col-md-6"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3662.0328096398266!2d92.28836911428964!3d23.387030308478405!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x375262b8bb0913df%3A0xe3fbbfec53ee33a6!2sRoyal%20Sajek!5e0!3m2!1sen!2sbd!4v1572348932187!5m2!1sen!2sbd" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe></div>
  </div>
</div>