<nav class="navbar navbar-expand-md navbar-light bg-light fixed-top p-0">
  <a class="navbar-brand" routerLink="/">
    <img class="navbar-brand-img" src="assets/images/logo.png" alt="logo" />
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#RoyelNavbar" aria-controls="RoyelNavbar"
    aria-expanded="false" aria-label="Toggle navigation" (click)="toggleCollapse()">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="RoyelNavbar" [class.show]="show">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" (click)="toggleCollapse()" routerLink="/rooms">Rooms</a>
      </li>
      <li class="nav-item">
        <div ngbDropdown class="d-inline-block">
          <a class="nav-link" id="adminCategory" ngbDropdownToggle> Features</a>
          <div ngbDropdownMenu aria-labelledby="adminCategory">
            <a class="dropdown-item" (click)="toggleCollapse()" routerLink="/dashboard/admin/category/add">
              Shop
            </a>
            <a class="dropdown-item" (click)="toggleCollapse()" routerLink="/dashboard/admin/category">
              Reservation
            </a>
            <a class="dropdown-item" (click)="toggleCollapse()" routerLink="/dashboard/admin/category">
              About us
            </a>
            <a class="dropdown-item" (click)="toggleCollapse()" routerLink="/dashboard/admin/category">
              Gallery
            </a>
            <a class="dropdown-item" (click)="toggleCollapse()" routerLink="/dashboard/admin/category">
              404 Page
            </a>
            <a class="dropdown-item" (click)="toggleCollapse()" routerLink="/dashboard/admin/category">
              Coming Soon
            </a>
          </div>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Blog</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/contact">Contact</a>
      </li>
    </ul>
    <a class="btn btn-success book-button" routerLink="/rooms">
      <img class="navbar-brand-img" src="assets/images/hotel-bell.svg" alt="logo" /> &nbsp; Book Now
    </a>
    <a class="btn search-button btn-light" routerLink="/rooms">
      <img class="navbar-brand-img" src="/assets/svgs/login.svg" alt="Login" />
    </a>
    <!-- <button class="btn search-button btn-light">
      <img class="navbar-brand-img" src="/assets/svgs/login.svg" alt="Login" />
    </button> -->
    <!-- <form class="form-inline my-2 my-lg-0">
      <input
        class="form-control mr-sm-2"
        type="text"
        placeholder="Search"
        aria-label="Search"
      />
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">
        Search
      </button>
    </form> -->
  </div>
</nav>
<!-- <div class="container-fluid nav">
  <div class="nav-logo">
    <img class="nav-logo-img" src="assets/images/logo.png" alt="logo" />
  </div>

  <ul class="nav d-flex align-items-center">
    <li class="nav-item">
      <a class="nav-link active" href="#">Active</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
    
    <li class="nav-item">
      <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true"
        >Disabled</a
      >
    </li>
  </ul>

  abcd
</div> -->