<nav class="navbar navbar-expand-lg fixed-top" [ngClass]="{'bg-light': !transparent}">
  <div class="container">
    <a href="#" class="navbar-brand text-uppercase font-weight-bold">
      <img class="navbar-brand-img" src="assets/images/logo.png" alt="logo" style="width: 100px;" />
    </a>
    <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
      aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler navbar-toggler-right">
      <i class="fa fa-bars"></i>
    </button>

    <div id="navbarSupportedContent" class="collapse navbar-collapse">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link text-uppercase font-weight-bold" (click)="toggleCollapse()" routerLink="/rooms">Rooms</a>
        </li>
        <li class="nav-item text-uppercase font-weight-bold">
          <a class="nav-link" routerLink="/packages">Packages</a>
        </li>
        <li class="nav-item text-uppercase font-weight-bold">
          <a class="nav-link" routerLink="/contact">Contact us</a>
        </li>
      </ul>
      <button class="btn btn-sm book-button font-weight-bold">
        <i class="fa fa-calendar"></i> &nbsp; BOOK ONLINE</button>
    </div>
  </div>
</nav>

<a *ngIf="auth.isAuthenticated()" class="float" [ngClass]="{
  'float-sm': smallCart,
  'float-lg': !smallCart,
  'float-fixed': fixed
}" [ngStyle]="getMyStyles()">
  <div *ngIf="!smallCart; else showSmall">
    <div class="d-flex justify-content-between p-2">
      <i class="fa fa-shopping-cart"></i>
      <h5>Your cart</h5>
      <i class="fa fa-minus" (click)="onHideClick()" style="cursor: pointer;">
      </i>
    </div>
    <table class="table cart-table">
      <thead>
        <tr>
          <th>Date</th>
          <th>Room. no</th>
          <th class="text-right">Payable</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="
          let subBook of (bookingService.cart$ | async).subBookingList;
          index as i
        ">
          <td>{{ subBook?.date | date: 'd MMM,yy' }}</td>
          <td>{{ subBook?.room?.roomNumber }}</td>
          <td class="text-right">{{ subBook?.payablePrice }}৳</td>
        </tr>
        <tr>
          <td colspan="2" class="text-right">Total</td>
          <td class="text-right">
            {{ (bookingService.cart$ | async).total }}৳
          </td>
        </tr>
      </tbody>
    </table>
    <div class="d-flex justify-content-end">
      <a class="btn btn-sm btn-warning" routerLink="/cart">
        Go to cart
      </a>
    </div>
  </div>
  <ng-template #showSmall>
    <span (click)="onCartClick()">
      <i class="fa fa-shopping-cart"></i>
      {{ (bookingService.cart$ | async)?.total > 0 ? '| ' + (bookingService.cart$ | async)?.total : '' }}
    </span>
  </ng-template>
</a>