<section-title [head]="head" [title]="title" [background]="background"></section-title>
<div class="container mb-5">
  <div class="room">
    <div class="room-content">
      <div class="room-content-price">
        <span>4500 BDT</span>
        /per night
      </div>
      <div class="room-content-title">
        <h4>
          <a href="http://sailing.thimpress.com/demo-9/rooms/family-room-3/">
            Double-bed room
          </a>
        </h4>
        Double-bed room
      </div>
      <div class="room-content-description">
        <p>
          Make yourself comfortable in any of our serene guest rooms and spacious suites...
        </p>
      </div>
    </div>
    <div class="room-media">
      <img src="assets/images/rooms/room-1.jpg" alt="Family Room 3" class="" />
    </div>
    <div class="actions">
      <div class="actions-btn">
        <a routerLink="/rooms" class="button readmore">
          See Room
          <img src="assets/images/see_room.png" alt="see_room" />
        </a>
      </div>
    </div>
  </div>

  <!-- <button class="btn btn-success">See Room</button> -->
  <div class="background-image">
    <img src="assets/images/background.png" alt="background" />
  </div>
</div>