<div class="footer mt-4 pt-4">
  <div class="container-fluid border-bottom border-top pt-4">
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-2 col-6">
        <div class="footer-head">OUR ADDRESS</div>
        <div class="footer-text">

          <ul>
            <li class="mt-md-2">
              <strong>Royal Sajek Resort</strong>
            </li>
            <li>Rui Lui Para,</li>
            <li>Sajek, Rangamati -12</li>
          </ul>
        </div>
      </div>
      <div class="col-md-2 col-6">
        <div class="footer-head">RESERVATION</div>
        <div class="footer-text">
          <ul>
            <li class="mt-2">Tel.: +88 01840477707</li>
            <li>Tel.: +88 01840477976</li>
            <li>hotelswave@gmail.com</li>
          </ul>
        </div>
      </div>
      <div class="col-md-2">
        <div class="footer-head">NEWSLETTER</div>
        <div class="footer-text mt-2">
          <form>
            <div class="form-group">
              <input type="email" class="form-control" placeholder="Your Email" />
            </div>
            <button type="submit" class="btn btn-sm btn-success">Submit</button>
          </form>
        </div>
      </div>
      <div class="col-md-4">
        <div class="footer-head">OUR PARTNERS</div>
        <div class="footer-text">
          <div class="row my-3">
            <div class="col-6 col-md-3">
              <img class="footer-image" src="/assets/images/partners/ita.jpg" alt="" />
            </div>
            <div class="col-6 col-md-3">
              <a href="www.itoursltd.com" target="_blank">
                <img class="footer-image" src="/assets/images/partners/seaviewresort.jpg" alt="" />
              </a>
            </div>
            <div class="col-6 col-md-3">
              <img class="footer-image2" src="/assets/images/partners/itours.jpg" alt="" />
            </div>
            <div class="col-6 col-md-3">
              <img class="footer-image3" src="/assets/images/partners/unolo.png" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center p-2">
        <div id="copyright">
          Devloped by :
          <a href="https://www.unololtd.com" target="_blank">UNOLO Tecnology Limited</a>
          &nbsp; || © Copyright royelsajek.com
        </div>
      </div>
    </div>
  </div>
</div>