<div class="footer mt-4 pt-4">
  <div class="container-fluid border-bottom border-top pt-4">
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-2 col-6">
        <div class="footer-head">OUR ADDRESS</div>
        <div class="footer-text">
          <ul>
            <li class="mt-md-2"><strong>Hotelswave.com</strong></li>
            <li>32/1, Khan Plaza ( 3rd floor)</li>
            <li>Science Lab, Mirpur Road</li>
            <li>Dhanmondi, Dhaka- 1205</li>
          </ul>
        </div>
      </div>
      <div class="col-md-2 col-6">
        <div class="footer-head">RESERVATION</div>
        <div class="footer-text">
          <ul>
            <li class="mt-2">Tel.: +88 01840477707</li>
            <li>Tel.: +88 01840477717</li>
            <li>hotelswave@gmail.com</li>
          </ul>
        </div>
      </div>
      <div class="col-md-2">
        <div class="footer-head">NEWSLETTER</div>
        <div class="footer-text mt-2">
          <form>
            <div class="form-group">
              <input
                type="email"
                class="form-control"
                placeholder="Your Email"
              />
            </div>
            <button type="submit" class="btn btn-sm btn-success">Submit</button>
          </form>
        </div>
      </div>
      <div class="col-md-4">
        <div class="footer-head">OUR PARTNERS</div>
        <div class="footer-text">
          <div class="row my-3">
            <div class="col-6 col-md-3">
              <img
                class="footer-image"
                src="/assets/images/partners/ita.jpg"
                alt=""
              />
            </div>
            <div class="col-6 col-md-3">
              <a href="www.itoursltd.com" target="_blank">
                <img
                  class="footer-image"
                  src="/assets/images/partners/seaviewresort.jpg"
                  alt=""
                />
              </a>
            </div>
            <div class="col-6 col-md-3">
              <img
                class="footer-image2"
                src="/assets/images/partners/itours.jpg"
                alt=""
              />
            </div>
            <div class="col-6 col-md-3">
              <img
                class="footer-image3"
                src="/assets/images/partners/fishpoint.png"
                alt=""
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <!-- <div class="col-md-8 p-2"> -->
      <!-- <div class="row">
          <div class="col-md-1 col-4">
            <a class="nav-link" href="#">Why us</a>
          </div>
          <div class="col-md-1 col-4">
            <a class="nav-link" href="#">Hotels</a>
          </div>
          <div class="col-md-1 col-4">
            <a class="nav-link" href="#">Ships</a>
          </div>
          <div class="col-md-1 col-4">
            <a class="nav-link" href="#">Flights</a>
          </div>
          <div class="col-md-1 col-4"><a class="nav-link" href="#">Bus</a></div>
          <div class="col-md-1 col-4">
            <a class="nav-link" href="#">Contacts</a>
          </div>
        </div> -->
      <!-- <ul class="nav">
          <li class="nav-item"><a class="nav-link" href="#">Why us</a></li>
          <li class="nav-item"><a class="nav-link" href="#">Hotels</a></li>
          <li class="nav-item"><a class="nav-link" href="#">Ships</a></li>
          <li class="nav-item"><a class="nav-link" href="#">Flights</a></li>
          <li class="nav-item"><a class="nav-link" href="#">Bus</a></li>
          <li class="nav-item"><a class="nav-link" href="#">Tours</a></li>
          <li class="nav-item"><a class="nav-link" href="#">Contacts</a></li>
        </ul> -->
      <!-- </div> -->
      <div class="col-md-12 text-center p-2">
        <div id="copyright">
          Devloped by :
          <a href="https://www.unololtd.com" target="_blank"
            >UNOLO Tecnology Limited</a
          >
          &nbsp; || © Copyright royelsajek.com
        </div>
      </div>
      <!-- <div class="p-2 bd-highlight">Flex item 3</div> -->
    </div>
  </div>
  <!--
    <div class="container">
      <div class="row m-0">
        <div class="col-md-4 col-6">
          <h3>EXPLORE</h3>

          <li><a href="/whyUs">Why us</a></li>
          <li><a href="/hotels?type=Hotel">Hotels</a></li>
          <li><a href="/hotels?type=Ship">Ships</a></li>
          <li><a href="/packages/1">Packages</a></li>
        </div>
        <div class="col-md-4 col-6">
          <h3></h3>
          <li><a href="#">Events</a></li>
          <li><a href="#">Rent a car</a></li>
          <li><a href="#">Group Booking</a></li>
          <li><a href="/feedback">Feedback</a></li>
          <li><a href="/login">Sign in &amp; Accounts</a></li>
        </div>
        <div class="col-md-4 pt-4 pt-md-0">
          <h3>OUR LOCATION</h3>
          <li>
            <i class="fa fa-map-marker fa-lg"></i> &nbsp; &nbsp; 32/1, Khan Plaza
            ( 3rd floor), Science Lab,<br />
            &nbsp; &nbsp; &nbsp; &nbsp;Mirpur Road, Dhanmondi, Dhaka- 1205
          </li>
          <li>
            <i class="fa fa-phone fa-lg"></i> &nbsp; &nbsp;01840477707,
            01840477717
          </li>
          <li>
            <i class="fa fa-envelope fa-lg"></i
            ><a href="mailto:hotelswave@gmail.com"
              >&nbsp;&nbsp; hotelswave@gmail.com</a
            >
          </li>
        </div>
        <div class="col-md-12 pt-4 text-center">
          <h5>
            <p style="font-size: 12px;">
              Copyrights © 2017 Hotelswave.com all rights reserved
            </p>
          </h5>
        </div>
      </div>
    </div>
  -->
</div>
